.about {
  font-size: 2.7em;
}

.about-container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.know-me-about {
  font-size: 2em;
}

.skills-about {
  font-size: 2em;
  margin-bottom: 20px;
}
h2 {
  color: #f1f1f1;
}
h3 {
  color: #f1f1f1;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.skill {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin-right: 10px;
  margin-top: 10px;
}
.skill:hover {
  cursor: pointer;
  background-color: #00ADB5;
}

.about-details {
  max-width: 400px;
}

.about-details p{
  font-size: 1.6em;
  font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 768px){
  .about-container {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
  }
  .skills {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 300px;
}
}