.main-container {
  background-image: url("../../assets/backgroundportfolio.jpg");
  height: 40em;
  background-color: #f1f1f1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-presentation {
  color: #f1f1f1;
  font-size: 4em;
}

.container p {
  color: #f1f1f1;
  font-size: 2em;
  text-align: center;
}