.footer-site {
  height: 10em;
  background-color: black;
  color: #fff;
}

.footer-media {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 30px;
  margin: 10px;
}

.social-title {
  font-size: 2em;
}

.social-medias {
  display: flex;
}